<!DOCTYPE html>
{% include 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% block content %}
    Login
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="input_field">
                {{ field.errors }}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn" type="submit" value="Submit"> Submit</button>
    </form>
{% endblock %}

</body>
</html>