<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% block content %}
    Registration
    <form method="post" autocomplete="no">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="{{ form.username }}"> username:</label>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.password.errors }}
            <label for="{{ form.password }}"> Password:</label>
            {{ form.password }}
        </div>
        <button class="button button2" type="submit" value="Submit"> Submit</button>
    </form>
{% endblock %}

</body>
</html>